.heroContainer{
    background-image: url("https://huckberry.imgix.net/pages/3-0_featured_365shorts_2303-7b9c3911e0.jpg?auto=format%2C%20compress&amp;crop=top&amp;fit=clip&amp;cs=tinysrgb&amp;ixlib=react-9.5.2") ;
    height: 80vh;
    background-size: cover;
}

@media only screen and (max-width: 1742px) {
    .heroContainer{
        height: 80vh;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
    }
}